.container{

    width: 90%;
    margin: 0 auto;
    
    .col-4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 14px;
        row-gap: 4px;
    }

    .title{
        font-weight: bold;
        margin-top: 8px;
        font-size: 16pt;
        color: brown;
    }
}
